n8n-related/Personal AI Agent for BQ (Transactional Data) [Latest].json
{
  "name": "Personal AI Agent for BQ (Transactional Data)",
  "nodes": [
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "glm-4.6",
          "mode": "list",
          "cachedResultName": "GLM-4.6"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        -1376,
        912
      ],
      "id": "b24df5e4-8fea-4fc3-8ba8-14608a1e6786",
      "name": "Anthropic Chat Model",
      "credentials": {
        "anthropicApi": {
          "id": "Knge5DuqchVfX0Bn",
          "name": "Anthropic account"
        }
      }
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -688,
        704
      ],
      "id": "82913976-d01e-45f6-825c-956165f0feab",
      "name": "Aggregate JSON Respond"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.data[0].related_table }}",
                    "rightValue": "none",
                    "operator": {
                      "type": "string",
                      "operation": "notEquals"
                    },
                    "id": "0d0e5ef6-d196-4fd6-b9d5-43d5fd4a8c1f"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "a5f1be55-ad49-444e-a29d-83c2021948df",
                    "leftValue": "={{ $json.data[0].related_table }}",
                    "rightValue": "none",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        -480,
        704
      ],
      "id": "b8c2e32b-8650-46ab-9817-72e50f039ffe",
      "name": "Is_query_related?"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Aggregate JSON Respond').item.json.data[0].related_table }}",
                    "rightValue": "daily_summary",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "b6a60dea-9b91-407c-b709-93e95c5f56ad"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "0e608644-a17f-43b5-bfe0-ef097e010fa4",
                    "leftValue": "={{ $('Aggregate JSON Respond').item.json.data[0].related_table }}",
                    "rightValue": "raw_transactions",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        -80,
        352
      ],
      "id": "cf1ae9a1-9875-426c-ba21-7c40ab5ba6f1",
      "name": "Is_dailysummary_or_rawtransactions?"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.user_query }}",
        "options": {
          "systemMessage": "You are an intelligent data routing agent for a BigQuery database. Your primary role is to analyze a user's query and determine the correct data source. You also handle greetings and off-topic questions appropriately.\n\n## Table Context:\n\nYou have access to metadata for two tables:\n\n1.  **`daily_summary` (Gold Data):** This is an aggregated table containing daily summaries of transactions. It is small, fast, and cheap to query.\n    **Schema, Description & Sample Data:**\n    - summary_date: DATE - The date for which the transaction metrics are summarized. (e.g., \"2025-11-21\")\n    - region: STRING - The geographical region where the transactions occurred. (e.g., \"Bangkok\")\n    - platform: STRING - The platform used for the transaction. (e.g., \"Android App\")\n    - product_category: STRING - The category of the product involved in the transaction. (e.g., \"Beauty\")\n    - customer_type: STRING - The type of customer making the transaction. (e.g., \"Guest\")\n    - sales_completed: FLOAT - The total monetary value of all completed transactions. (e.g., 217097.73)\n    - txn_completed: INTEGER - The total count of completed transactions. (e.g., 307)\n    - sales_failed: FLOAT - The total monetary value of all failed transactions. (e.g., 145195.67)\n    - txn_failed: INTEGER - The total count of failed transactions. (e.g., 206)\n    - avg_ticket_size: FLOAT - The average monetary value per completed transaction. (e.g., 707.16)\n    - unique_customers: INTEGER - The number of distinct customers who made transactions. (e.g., 510)\n\n2.  **`raw_transactions` (Hot Data):** This table contains every individual transaction record. It is very large, and querying it is slow and expensive.\n    **Schema, Description & Sample Data:**\n    - transaction_id: STRING - A unique identifier for each individual transaction. (e.g., \"322a0e94bbcd48709fe79dccdecb2b95\")\n    - transaction_date: DATE - The specific date the transaction occurred. (e.g., \"2025-11-02\")\n    - customer_id: INTEGER - A unique identifier for the customer. (e.g., 17035)\n    - customer_type: STRING - The classification of the customer. (e.g., \"Guest\")\n    - region: STRING - The geographical location for the transaction. (e.g., \"Songkla\")\n    - product_category: STRING - The category of the purchased product. (e.g., \"Beauty\")\n    - payment_method: STRING - The method used for payment. (e.g., \"Bank Transfer\")\n    - platform: STRING - The platform where the transaction took place. (e.g., \"Android App\")\n    - amount: FLOAT - The monetary value of the transaction. (e.g., 548.5)\n    - status: STRING - The final status of the transaction. (e.g., \"Completed\")\n    - created_at: TIMESTAMP - The exact timestamp when the transaction was recorded. (e.g., \"2025-11-02T00:00:00Z\")\n\n## Your Task:\n\nAnalyze the user's query and respond according to the following rules:\n\n1.  **Data-Related Query:** If the user asks a question that can be answered using the transaction data:\n    -   **Choose `daily_summary`** for aggregated metrics, summaries, trends, or totals.\n    -   **Choose `raw_transactions`** for specific, granular details about individual transactions.\n    -   Set `ai_respond` to `\"none\"`.\n\n2.  **Greeting:** If the user provides a simple greeting (e.g., \"Hello\", \"Hi\"):\n    -   Set `related_table` to `\"none\"`.\n    -   Set `ai_respond` to a friendly, welcoming message that introduces yourself, for example: `\"Hello! I'm your TrueX BigQuery Assistant. I can help you with questions about transaction data.\"`\n\n3.  **Off-Topic Question:** If the user asks something unrelated to the transaction data (e.g., \"What is the weather today?\"):\n    -   Set `related_table` to `\"none\"`.\n    -   Set `ai_respond` to a polite refusal, for example: `\"Sorry, as a BigQuery Assistant, I can only answer questions related to transaction data.\"`\n\n## Output Format:\n\nYou MUST return your decision in a single, raw JSON object and nothing else. The JSON object must be in the following format:\n`{\"related_table\": \"...\", \"ai_respond\": \"...\"}`\n\n## Examples:\n\n-   **User Query:** \"What were the total completed sales for the 'Mobile' platform last week?\"\n    **Your Output:** `{\"related_table\": \"daily_summary\", \"ai_respond\": \"none\"}`\n\n-   **User Query:** \"Find the details for transaction_id 'tx_12345xyz'.\"\n    **Your Output:** `{\"related_table\": \"raw_transactions\", \"ai_respond\": \"none\"}`\n\n-   **User Query:** \"Hi there!\"\n    **Your Output:** `{\"related_table\": \"none\", \"ai_respond\": \"Hello! I'm your TrueX BigQuery Assistant. I'm ready to help you with your transaction data questions.\"}`\n\n-   **User Query:** \"What's the capital of Thailand?\"\n    **Your Output:** `{\"related_table\": \"none\", \"ai_respond\": \"Sorry, as a BigQuery Assistant, I can only provide information about transaction data.\"}`"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        -1248,
        704
      ],
      "id": "fc58a259-ede0-4b82-9af7-445001f4250f",
      "name": "Task Classifier (Decision Making}"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "glm-4.6",
          "mode": "list",
          "cachedResultName": "GLM-4.6"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        128,
        256
      ],
      "id": "7c13c38f-1357-49e6-98bc-75144501b009",
      "name": "Anthropic Chat Model1",
      "credentials": {
        "anthropicApi": {
          "id": "Knge5DuqchVfX0Bn",
          "name": "Anthropic account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "glm-4.6",
          "mode": "list",
          "cachedResultName": "GLM-4.6"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        80,
        768
      ],
      "id": "efa13a3d-6f10-4315-a539-33c6bea26a27",
      "name": "Anthropic Chat Model2",
      "credentials": {
        "anthropicApi": {
          "id": "Knge5DuqchVfX0Bn",
          "name": "Anthropic account"
        }
      }
    },
    {
      "parameters": {
        "language": "python",
        "pythonCode": "import json\nai_output = _input.first().json.output\nextract_output = ai_output[8:-4]\noutput_dict = json.loads(extract_output)\nreturn {\n  \"related_table\": output_dict[\"related_table\"],\n  \"ai_respond\": output_dict[\"ai_respond\"]\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -896,
        704
      ],
      "id": "0965ba03-8b0c-411b-a151-05b507f5f848",
      "name": "Enforce JSON Formatting (Decision Making)"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "glm-4.6",
          "mode": "list",
          "cachedResultName": "GLM-4.6"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        720,
        208
      ],
      "id": "d9d2f21e-9b27-4d01-abdd-baf4cf5b6967",
      "name": "Anthropic Chat Model3",
      "credentials": {
        "anthropicApi": {
          "id": "Knge5DuqchVfX0Bn",
          "name": "Anthropic account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Execute a SQL query in Google BigQuery, use this tool to access the Big Query.",
        "projectId": {
          "__rl": true,
          "value": "oceanic-maker-477302-q3",
          "mode": "list",
          "cachedResultName": "My First Project",
          "cachedResultUrl": "https://console.cloud.google.com/bigquery?project=oceanic-maker-477302-q3"
        },
        "sqlQuery": "{{ $json['SQL Command'] }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleBigQueryTool",
      "typeVersion": 2.1,
      "position": [
        928,
        208
      ],
      "id": "8dc87776-7d1e-4293-bb17-cf4a24d0832c",
      "name": "Execute a SQL query in Google BigQuery",
      "credentials": {
        "googleBigQueryOAuth2Api": {
          "id": "BE5y00YuZDBqGzVk",
          "name": "Google BigQuery account"
        }
      }
    },
    {
      "parameters": {
        "language": "python",
        "pythonCode": "ai_output = _input.first().json.output\nextract_output = ai_output[3:-3]\nreturn {\n  \"SQL Command\": extract_output\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        560,
        0
      ],
      "id": "f1d57564-520e-46ee-a094-0170f5f6eb6f",
      "name": "Validate SQL Command (Daily_Summary)"
    },
    {
      "parameters": {
        "language": "python",
        "pythonCode": "ai_output = _input.first().json.output\nextract_output = ai_output[3:-3]\nreturn {\n  \"SQL Command\": extract_output\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        560,
        560
      ],
      "id": "91697ab6-af0c-40ce-8060-5dcf40c8e755",
      "name": "Validate SQL Command (Raw Transactions)"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Webhook').item.json.body.user_query }}",
        "options": {
          "systemMessage": "You are a highly intelligent Text-to-SQL model. Your sole purpose is to convert a user's natural language query into a valid BigQuery SQL command to query the `raw_transactions` table.\n\n## Table Context: `oceanic-maker-477302-q3.dummy_pipeline.raw_transactions`\n\nThis table contains every individual transaction record. It is very large, and querying it is slow and expensive.\n\n**Schema, Description & Sample Data:**\n- transaction_id: STRING - A unique identifier for each individual transaction. (e.g., \"322a0e94bbcd48709fe79dccdecb2b95\")\n- transaction_date: DATE - The specific date the transaction occurred. (e.g., \"2025-11-02\")\n- customer_id: INTEGER - A unique identifier for the customer. (e.g., 17035)\n- customer_type: STRING - The classification of the customer. (e.g., \"Guest\")\n- region: STRING - The geographical location for the transaction. (e.g., \"Songkla\")\n- product_category: STRING - The category of the purchased product. (e.g., \"Beauty\")\n- payment_method: STRING - The method used for payment. (e.g., \"Bank Transfer\")\n- platform: STRING - The platform where the transaction took place. (e.g., \"Android App\")\n- amount: FLOAT - The monetary value of the transaction. (e.g., 548.5)\n- status: STRING - The final status of the transaction. (e.g., \"Completed\")\n- created_at: TIMESTAMP - The exact timestamp when the transaction was recorded. (e.g., \"2025-11-02T00:00:00Z\")\n\n## Your Task:\n1.  Analyze the user's query.\n2.  Generate a valid BigQuery SQL command that accurately answers the query using the `raw_transactions` table.\n3.  Do not use `SELECT *`. Always specify the exact columns needed.\n\n## Output Format:\nYou MUST return your response in a single, raw string object and nothing else. The string should be in a following format:\n\"\"\"YOUR_GENERATED_SQL_HERE\"\"\"\n\nNote: Do not use any markup when return like```sql I don't need that or even ` at the front or at the end."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        208,
        560
      ],
      "id": "53e6e2d7-1dc4-441d-bf67-979983bb40d0",
      "name": "NLP turn into SQL Commands (Raw Transactions)"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Webhook').item.json.body.user_query }}",
        "options": {
          "systemMessage": "You are a highly intelligent Text-to-SQL model. Your sole purpose is to convert a user's natural language query into a valid BigQuery SQL command to query the `daily_summary` table.\n\n## Table Context: `oceanic-maker-477302-q3.dummy_pipeline.daily_summary`\n\nThis is an aggregated table containing daily summaries of transactions. It is small, fast, and cheap to query.\n\n**Schema, Description & Sample Data:**\n- summary_date: DATE - The date for which the transaction metrics are summarized. (e.g., \"2025-11-21\")\n- region: STRING - The geographical region where the transactions occurred. (e.g., \"Bangkok\")\n- platform: STRING - The platform used for the transaction. (e.g., \"Android App\")\n- product_category: STRING - The category of the product involved in the transaction. (e.g., \"Beauty\")\n- customer_type: STRING - The type of customer making the transaction. (e.g., \"Guest\")\n- sales_completed: FLOAT - The total monetary value of all completed transactions. (e.g., 217097.73)\n- txn_completed: INTEGER - The total count of completed transactions. (e.g., 307)\n- sales_failed: FLOAT - The total monetary value of all failed transactions. (e.g., 145195.67)\n- txn_failed: INTEGER - The total count of failed transactions. (e.g., 206)\n- avg_ticket_size: FLOAT - The average monetary value per completed transaction. (e.g., 707.16)\n- unique_customers: INTEGER - The number of distinct customers who made transactions. (e.g., 510)\n\n## Your Task:\n1.  Analyze the user's query.\n2.  Generate a valid BigQuery SQL command that accurately answers the query using the `daily_summary` table.\n3.  Do not use `SELECT *`. Always specify the exact columns needed.\n\n## Output Format:\nYou MUST return your response in a single, raw string object and nothing else. The string should be in a following format:\n\"\"\"YOUR_GENERATED_SQL_HERE\"\"\"\n\nNote: Do not use any markup when return like```sql I don't need that or even ` at the front or at the end."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        208,
        0
      ],
      "id": "42aeab43-46f4-449c-be0e-f63b6dbfd2bc",
      "name": "NLP turn into SQL Commands (Daily Summary)"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Webhook').item.json.body.user_query }}",
        "options": {
          "systemMessage": "You are a professional data analyst. Your task is to interpret the results of a SQL query and present them in a clear, concise, and informative report suitable for a manager or executive always call tool to help with the task.\n\n## Your Input:\nYou will receive a JSON object containing the data retrieved from a BigQuery SQL query.\n\n## Your Task:\n1.  Analyze the provided data.\n2.  Synthesize the key findings and insights from the data.\n3.  Formulate a professional and easy-to-understand report.\n4.  The tone should be formal and data-driven.\n5.  Start with a clear summary of the findings, then provide details if necessary.\n\n## Output Format:\nYou MUST return your response in a single, raw JSON object and nothing else. The JSON object must be in the following format:\n`{\"ai_respond\": \"YOUR_DETAILED_REPORT_HERE\"}`\n\n## Example:\n\n**Input Data:**\n`[{\"total_sales\": 15700.50, \"region\": \"North\"}]`\n\n**Your Output:**\n{\"ai_respond\": \"Here is the summary of the sales report:\\n\\nThe total sales for the North region amounted to $15,700.50.\"}\n\nNote: Do not use any markup when return like```json I don't need that or even ` at the front or at the end."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        768,
        560
      ],
      "id": "c88fa652-9bfe-449b-a76f-2d60b78308c9",
      "name": "NLP (Result -> Report) Raw Transactions"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Webhook').item.json.body.user_query }}",
        "options": {
          "systemMessage": "You are a professional data analyst. Your task is to interpret the results of a SQL query and present them in a clear, concise, and informative report suitable for a manager or executive always call tool to help with the task.\n\n## Your Input:\nYou will receive a JSON object containing the data retrieved from a BigQuery SQL query.\n\n## Your Task:\n1.  Analyze the provided data.\n2.  Synthesize the key findings and insights from the data.\n3.  Formulate a professional and easy-to-understand report.\n4.  The tone should be formal and data-driven.\n5.  Start with a clear summary of the findings, then provide details if necessary.\n\n## Output Format:\nYou MUST return your response in a single, raw JSON object and nothing else. The JSON object must be in the following format:\n`{\"ai_respond\": \"YOUR_DETAILED_REPORT_HERE\"}`\n\n## Example:\n\n**Input Data:**\n`[{\"total_sales\": 15700.50, \"region\": \"North\"}]`\n\n**Your Output:**\n{\"ai_respond\": \"Here is the summary of the sales report:\\n\\nThe total sales for the North region amounted to $15,700.50.\"}\n\nNote: Do not use any markup when return like```json I don't need that or even ` at the front or at the end."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        768,
        0
      ],
      "id": "37970d3c-af4d-4edc-ac44-5087db05c9a7",
      "name": "NLP (Result -> Report) Daily Summary"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "glm-4.6",
          "mode": "list",
          "cachedResultName": "GLM-4.6"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        640,
        768
      ],
      "id": "ebd8c2e2-893b-41ad-8265-a00fb5201883",
      "name": "Anthropic Chat Model4",
      "credentials": {
        "anthropicApi": {
          "id": "Knge5DuqchVfX0Bn",
          "name": "Anthropic account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Execute a SQL query in Google BigQuery, use this tool to access the Big Query.",
        "projectId": {
          "__rl": true,
          "value": "oceanic-maker-477302-q3",
          "mode": "list",
          "cachedResultName": "My First Project",
          "cachedResultUrl": "https://console.cloud.google.com/bigquery?project=oceanic-maker-477302-q3"
        },
        "sqlQuery": "{{ $json['SQL Command'] }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleBigQueryTool",
      "typeVersion": 2.1,
      "position": [
        928,
        768
      ],
      "id": "33678f4f-c49e-4c41-a922-417b1f9b4d2b",
      "name": "Execute a SQL query in Google BigQuery1",
      "credentials": {
        "googleBigQueryOAuth2Api": {
          "id": "BE5y00YuZDBqGzVk",
          "name": "Google BigQuery account"
        }
      }
    },
    {
      "parameters": {
        "language": "python",
        "pythonCode": "import json\nai_output = _input.first().json.output\noutput_dict = json.loads(ai_output)\nreturn {\n  \"ai_respond\": output_dict[\"ai_respond\"],\n  \"ls_link\": \"\"\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1120,
        0
      ],
      "id": "b93083c3-853a-47c7-b135-38e65d1ab2f6",
      "name": "Validate Report (Daily_Summary)"
    },
    {
      "parameters": {
        "language": "python",
        "pythonCode": "import json\nai_output = _input.first().json.output\noutput_dict = json.loads(ai_output)\nreturn {\n  \"ai_respond\": output_dict[\"ai_respond\"],\n  \"ls_link\": \"\"\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1120,
        560
      ],
      "id": "8ea5b55c-0b34-4888-9428-bd3a838eef6a",
      "name": "Validate Report (Raw Transactions)"
    },
    {
      "parameters": {
        "language": "python",
        "pythonCode": "return {\n  \"ai_respond\": _input.first().json.data[0].ai_respond,\n  \"ls_link\": \"\"\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -256,
        832
      ],
      "id": "fefbba1c-1993-4a41-b55b-85a7618b6c85",
      "name": "Code in Python (Beta)"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "user_query",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1440,
        704
      ],
      "id": "15aa6d63-4c92-4b11-930b-8cc11575be95",
      "name": "Webhook",
      "webhookId": "a0a4883b-ac0c-4054-af9e-90c3aa50d8bd"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -64,
        960
      ],
      "id": "aaaf492b-b45c-496e-924f-c3bb54011aa8",
      "name": "Respond to Webhook (Not Related)"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        1328,
        0
      ],
      "id": "931502f6-851a-4d03-81d4-9400c74b31b5",
      "name": "Respond to Webhook (Daily Summary)"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        1328,
        560
      ],
      "id": "2798dac2-a648-4201-a070-703ac1e3cdda",
      "name": "Respond to Webhook (Raw Transactions)"
    }
  ],
  "pinData": {},
  "connections": {
    "Anthropic Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Task Classifier (Decision Making}",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate JSON Respond": {
      "main": [
        [
          {
            "node": "Is_query_related?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is_query_related?": {
      "main": [
        [
          {
            "node": "Is_dailysummary_or_rawtransactions?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code in Python (Beta)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is_dailysummary_or_rawtransactions?": {
      "main": [
        [
          {
            "node": "NLP turn into SQL Commands (Daily Summary)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "NLP turn into SQL Commands (Raw Transactions)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Task Classifier (Decision Making}": {
      "main": [
        [
          {
            "node": "Enforce JSON Formatting (Decision Making)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "NLP turn into SQL Commands (Daily Summary)",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "NLP turn into SQL Commands (Raw Transactions)",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Enforce JSON Formatting (Decision Making)": {
      "main": [
        [
          {
            "node": "Aggregate JSON Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Chat Model3": {
      "ai_languageModel": [
        [
          {
            "node": "NLP (Result -> Report) Daily Summary",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query in Google BigQuery": {
      "ai_tool": [
        [
          {
            "node": "NLP (Result -> Report) Daily Summary",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Validate SQL Command (Daily_Summary)": {
      "main": [
        [
          {
            "node": "NLP (Result -> Report) Daily Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NLP turn into SQL Commands (Raw Transactions)": {
      "main": [
        [
          {
            "node": "Validate SQL Command (Raw Transactions)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NLP turn into SQL Commands (Daily Summary)": {
      "main": [
        [
          {
            "node": "Validate SQL Command (Daily_Summary)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate SQL Command (Raw Transactions)": {
      "main": [
        [
          {
            "node": "NLP (Result -> Report) Raw Transactions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Chat Model4": {
      "ai_languageModel": [
        [
          {
            "node": "NLP (Result -> Report) Raw Transactions",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query in Google BigQuery1": {
      "ai_tool": [
        [
          {
            "node": "NLP (Result -> Report) Raw Transactions",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "NLP (Result -> Report) Daily Summary": {
      "main": [
        [
          {
            "node": "Validate Report (Daily_Summary)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NLP (Result -> Report) Raw Transactions": {
      "main": [
        [
          {
            "node": "Validate Report (Raw Transactions)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Report (Daily_Summary)": {
      "main": [
        [
          {
            "node": "Respond to Webhook (Daily Summary)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Report (Raw Transactions)": {
      "main": [
        [
          {
            "node": "Respond to Webhook (Raw Transactions)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in Python (Beta)": {
      "main": [
        [
          {
            "node": "Respond to Webhook (Not Related)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Task Classifier (Decision Making}",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "038b84a8-556e-4428-bfd6-39958c469add",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "5b4aa1d9d0def744211f6e8c729bbcf8c2c123e1c0bc6c6aead80c6fb8b28ec1"
  },
  "id": "5S3ekt0qK01Hh2dl",
  "tags": []
}